.container {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card {
    margin: 0 2% !important; /*did this becaouse material-ui module need this when inline styles apply*/
}

.infected {
    border-bottom: 10px solid rgba(0,0,255, .5);
}

.recovered {
    border-bottom: 10px solid rgba(0,255,0, .5);
}

.deaths {
    border-bottom: 10px solid rgba(255,0,0, .5);
}